<h1>Search results</h1>
<%= render 'search' %>

<h2><%= " #{pluralize(@teams.size, 'team')} found "%> </h2>

<ul>
    <%= render(@teams) || 'No results' %>
</ul>
<br/>

<% admin_area do %>
    <% if @league %>
        <%= link_to 'Add Team', new_league_team_path(@league) %> |
        <%= link_to 'Settings', league_weeks_path(@league) %> |
        <%= link_to 'League', @league %> |
    <% end %>
<%end%>

<%= link_to 'All leagues', leagues_path %>
<br>