<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Team</th>

    <% @standings.each do |standing|%>
        <th>
            <%= link_to "#{standing.team.short_name}", standing %>
            <%= standing.team.captain %>
        </th>
    <%end%>

    <th>Matches<br/>won/played</th>
    <th>Sets<br/>won/played</th>
    <th>Points<br/>diff</th>
  </tr>
  </thead>
  <tbody>
  <% @standings.each do |standing|%>
      <tr>
        <td><%= link_to "#{standing.team.short_name}", standing %>
          <br/> <%= standing.team.captain %>
        </td>

        <% @standings.each do |opponent|%>
            <!-- find game(s) between these teams, make it disabled for non-vip -->
            <td></td>
        <%end%>

        <td><%= "#{standing.matches_won}/#{standing.matches_played}/#{standing.matches.size}" %></td>
        <td><%= "#{standing.sets_won}/#{standing.sets_played}" %></td>
        <td><%= standing.points_diff %></td>
      </tr>
  <%end%>
  </tbody>
</table>