<% if vip? and @week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week.errors.count, 'error') %> to fix setup:</h2>

      <ul>
        <% @week.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%
   @tier_settings = @week.tier_settings.order(:tier)
   @standings = @week.standings.order('tier, rank')
%>

<%= render 'tier_settings/index' %>

<%= render 'standings/index' %>

<% if admin? and @week.errors.empty? %>
    <br>
    <%= link_to 'Save settings', save_settings_week_path(@week), method: :put, class: 'btn btn-large btn-primary' %>
    <br>
<% end %>
