<%= form_tag("create_tier") do %>

    <%= hidden_field_tag :tier, params[:tier]  if params[:tier] %>

    <div class="field">
      <%= label_tag :total_teams %><br>
      <%= number_field_tag :total_teams, @defaults[:total_teams], min: 2 %>
    </div>

    <div class="field">
      <%= label_tag :teams_down %><br>
      <%= number_field_tag :teams_down, @defaults[:teams_down], min: 0 %>
    </div>

    <div class="field">
      <%= label_tag :schedule_pattern %><br>
      <%= text_field_tag :schedule_pattern, @defaults[:schedule_pattern] %>
    </div>
    <div class = "field">
      <%= label_tag :day %><br>
      <%= select_tag :day, options_for_select([nil] + Date::ABBR_DAYNAMES, @defaults[:day]) %>
    </div>

    <div class="actions">
      <%= submit_tag params[:tier] ? "Update Settings" : "Create Tier"  %>
    </div>
<% end %>
