<p id="notice"><%= notice %></p>

<h1>Week <%= @week.week %> for <%= @league.description %></h1>

<p>
  <%= link_to 'Settings', league_week_tier_settings_path(@week.league, @week) %>
</p>

<p>
  <%= link_to 'Standings', league_week_standings_path(@week.league, @week) %>
</p>

<p>
  <strong>Cycle</strong>
  <%= @week.cycle %>
</p>

<%= link_to 'Back', league_weeks_path %>
