<p id="notice"><%= notice %></p>
<div class="center hero-unit">

  <% week_name = @week.week ? "week ##{@week.week}" : "registration week"%>
    <h1><%= @week.league.description %>: <%= week_name%> setup</h1>

  <% if @week.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@week.errors.count, "error") %> to fix setup:</h2>

        <ul>
          <% @week.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= render "tier_settings/index"%>
  <%= render "standings/index"%>

  <% if @week.errors.empty? %>
      <%= link_to "Save settings", save_settings_week_path(@week), method: :put, class: "btn btn-large btn-primary" %>
      <br>
  <% end %>

  <%= link_to 'Edit', edit_week_path(@week) %> |
  <%= link_to 'Back', league_path(@week.league) %>

</div>
