<% provide(:title, "#{@week.name} for " + @week.league.description) %>

<% @league = @week.league %>
<%= render 'leagues/existing_weeks' %>

<h1> <%= @week.league.description%> </h1>

<h1><%= @week.name %></h1>

<% if @week.week %>
    <%= render 'matches' %>
<% else %>
    <%= render 'settings' %>
<% end%>

<br/>
<%= link_to 'All Leagues', leagues_path %>


