<p id="notice"><%= notice %></p>

<h1>Week <%= @week.week %> for <%= @week.league.description %></h1>

<p>
  <%= link_to 'Settings', week_tier_settings_path(@week) %>
</p>

<p>
  <%= link_to 'Standings', week_standings_path(@week) %>
</p>

<p>
  <strong>Cycle</strong>
  <%= @week.cycle %>
</p>

<%= link_to 'Back', league_weeks_path(@week.league) %>
