<% provide(:title, "#{@week.name} for " + @week.league.description) %>

<ul>
    <%= render partial: "weeks/week_link", collection: @week.league.weeks, as: :week %>
</ul>

<h1> <%= @week.league.description%> </h1>

<% if vip? or @week.week %>

    <h1><%= @week.name %></h1>

    <% if @week.week %>
        <%= render 'matches' %>
    <% elsif vip? %>
        <%= render 'settings' %>
    <% end%>

<% else %>
    No schedule available. Check again later.
<%end%>

<%= link_to 'All Events', leagues_path %>


