<%= form_for(@league) do |f| %>

    <% error_div(@league) %>

    <div class="field">
      <%= f.label :desc %>
      <br>
      <%= f.text_field :desc %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :start_date %>
      <br>
      <%= f.date_select :start_date, order: [:month, :day, :year] %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
