<% provide(:title, "Welcome to #{League::NAME}") %>

<h1>Welcome to <%= League::NAME %></h1>

<% if @leagues and @leagues.any? %>

    <%= render 'layouts/team_search' %>

    <ul class="rounded-list">
      <% @leagues.each do |league_type| %>
          <li class="text-left">
            <h1><%= link_to "#{league_type.description}", league_type %></h1>
            <% if admin? %>
                <%= link_to 'Edit', edit_league_path(league_type) %> |
                <%= link_to 'Destroy', league_type, method: :delete, data: {confirm: 'Are you sure?'} %> |
            <% end %>
          </li>
      <% end %>
    </ul>

<% else %>

    <div class="alert">
      No open events. Try again later.
    </div>

<% end %>

<%= link_to 'New event', new_league_path if admin? %>
