<% provide(:title, @league.description) %>
<p id="notice"><%= notice %></p>

<h1><%= @league.description %></h1>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Settings', league_tier_settings_path(@league) %> |
<%= link_to 'Teams', league_teams_path(@league) %> |
<%= link_to 'Back', leagues_path %>