<% provide(:title, @league.description) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @league.desc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @league.description %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Settings', league_tier_settings_path(@league) %> |
<%= link_to 'Back', leagues_path %>

<div class="row">
  <aside>
  </aside>
  <div class="span8">
    <%= link_to 'Add Team', new_league_team_path(@league) %>
    <% if @league.teams.any? %>
        <h3>Teams (<%= @league.teams.count %>)</h3>
        <ol class="teams">
          <%= render @teams %>
        </ol>
    <% end %>
  </div>
</div>
