<% provide(:title, @league.description) %>
<div class="center hero-unit">
    <p id="notice"><%= notice %></p>

    <h1><%= @league.description %></h1>

    <% if @matches.any?%>
        <h2>Schedule</h2>
        <%= render 'matches/index'%>
        <%= render 'matches/cross_results'%>
    <%else%>
        <h3>Registration is not finished yet</h3>
    <%end%>

    <%= link_to 'Edit', edit_league_path(@league) %> |
    <%= link_to 'Settings', league_weeks_path(@league) %> |
    <%= link_to 'All leagues', leagues_path %>

</div>

