<%= form_for [@week, @standing] do |f| %>
  <% if @standing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standing.errors.count, "error") %> prohibited this tier_setting from being saved:</h2>

      <ul>
      <% @standing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :tier %><br>
    <%= f.number_field :tier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
