<li>
    <ul id="standing">
      <li>Rank: <%= standing.rank %></li>
      <li>Tier: <%= standing.tier %></li>
      <%= render standing.team %>
      <li><%= link_to 'Edit', edit_standing_path(standing) %></li>
      <li><%= link_to 'Desuloy', standing, method: :delete, data: {confirm: 'Are you sure?'} %></li>
    </ul>
</li>