<ul>
    <%= render partial: "weeks/week_link", collection: @standing.league.weeks, as: :week %>
</ul>

<%= render @standing.team %>

<p>
  <strong>Pool:</strong>
  <%=  @standing.tier %>
</p>

<p>
  <strong>Team#</strong>
  <%=  @standing.rank %>
</p>

<%= render @standing.matches %>

<%= link_to 'PDF version', standing_path(@standing, format: 'pdf')%> |
<%= link_to 'League', @standing.league %>
