<p>
  <strong>Team:</strong>
  <%= @standing.team.name %>
</p>


<p>
  <strong>Captain:</strong>
  <%= @standing.team.captain %>
</p>

<% if vip? %>
    <p>
      <strong>Email:</strong>
      <%= @standing.team.email %>
    </p>
<% end %>


<p>
  <strong>Pool:</strong>
  <%=  @standing.tier %>
</p>

<p>
  <strong>Team#</strong>
  <%=  @standing.rank %>
</p>

<% if @standing.matches.any? %>
    <h2>Results/Schedule for <%= @standing.week.name %></h2>
    <%= render 'schedule' %>
<%else%>
    <h2>Schedule is not ready for <%= @standing.week.name %></h2>
<%end%>


<%= link_to 'League', @standing.league %>
