<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @standing.week_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @standing.team.name %>
</p>


<p>
  <strong>Captain:</strong>
  <%= @standing.team.captain %>
</p>


<p>
  <strong>Email:</strong>
  <%= @standing.team.email %>
</p>


<p>
  <strong>Tier:</strong>
  <%= @standing.tier %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @standing.rank %>
</p>


<%= link_to 'Edit', edit_standing_path(@standing) %> |
<%= link_to 'Back', week_standings_path(@standing.week) %>
