<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @league_type.desc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @league_type.description %>
</p>

<%= link_to 'Edit', edit_league_type_path(@league_type) %> |
<%= link_to 'Back', league_types_path %>
