<table>
  <thead>
  <tr>
    <th>Rank</th>
    <th>Team</th>
    <th>Matches played</th>
    <th>Matches won</th>
    <th>Sets played</th>
    <th>Sets won</th>
    <th>Points diff won</th>
    <th>Cur Rank</th>
  </tr>
  </thead>
  <tbody>
  <%@tier_standings.each do |standing|%>
      <tr>
        <td><%=standing.rank%></td>
        <td><%= link_to "#{standing.team.name}", standing %>
          <br/> <%= standing.team.captain %> </td>
        <td><%= standing.matches_played %></td>
        <td><%= standing.matches_won %></td>
        <td><%= standing.sets_played %></td>
        <td><%= standing.sets_won %></td>
        <td><%= standing.points_diff %></td>
        <td></td>
      </tr>
  <%end%>
  </tbody>
</table>