<% matches_by_game = @tier_matches.group_by{ |match| match.game}%>
<% matches_by_game.each do |game, game_matches|%>
    <% game_matches.each do |match| %>
        <%= form_for match do |f|%>
            <table>
              <thead>
              <tr>
                <th rowspan="2">T</th>
                <th rowspan="2">@</th>
                <th>Teams</th>
                <th>G1</th>
                <th>G2</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= f.object.game %></td>
                <td><%= f.object.court %></td>
                <td><%= link_to match.team1.name, match.team1 %><br/><%= match.team1.captain%></td>
                <% if vip? %>
                    <td colspan="2" rowspan="2"><%= f.text_field :score, value: (f.object.score.map{|x,y| "#{x}:#{y}"}.join(", ") if f.object.score) %>
                <%else%>
                    <td><%= match.score[0][0] if match.score and match.score[0] %></td>
                    <td><%= match.score[1][0] if match.score and match.score[1]%></td>
                <%end%>

              </tr>

              <tr>
                <td></td>
                <td></td>
                <td><%= link_to match.team2.name, match.team2 %><br/><%= match.team2.captain%></td>
                <% if vip? %>
                    <td/>
                    <td/>
                <%else%>
                    <td><%= match.score[0][1] if match.score and match.score[0]%></td>
                    <td><%= match.score[1][1] if match.score and match.score[1]%></td>
                <%end%>
              </tr>

              <%if vip?%>
                  <tr>
                    <td colspan="5"><%= f.submit "Update" if vip? %></td>
                  </tr>

              <%end%>

              </tbody>
            </table>

        <%end%>
    <% end %>
<%end%>

