<%= form_for(match) do |f| %>
    <% if match.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(match.errors.count, 'error') %> prohibited this match from being saved:</h2>

          <ul>
            <% match.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <% sets = match.tier_setting.set_points.size %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Court<br/> @ Time</th>
        <th>Teams</th>
        <% sets.times do |game_idx| %>
            <th>G<%= game_idx + 1 %></th>
        <% end %>
      </tr>
      </thead>

      <tbody>

      <tr>
        <td rowspan="2">
          <%= match.court %> <br/> @<%= match.tier_setting.match_times[match.game - 1] %>
        </td>

        <td><%= link_to match.team1.short_name, standing_path(match.standing1) %>
          <br/><%= match.team1.captain %></td>
        <% if vip? %>
            <td colspan="<%= sets %>" rowspan="2"><%= f.text_field :score, value: f.object.score_line %></td>
        <% else %>
            <% sets.times do |game_idx| %>
                <td><%= match.score[game_idx][0] if match.score and match.score[game_idx] %></td>
            <% end %>
        <% end %>
      </tr>

      <tr>

        <td><%= link_to match.team2.short_name, standing_path(match.standing2) %>
          <br/><%= match.team2.captain %></td>
        <% sets.times do |game_idx| %>
            <% unless vip? %>
                <td>
                  <%= match.score[game_idx][1] if match.score and match.score[game_idx] %>
                </td>
            <% end %>
        <% end %>
      </tr>

      <% if vip? %>
          <tr>
            <td colspan="<%= 2 + sets %>"><%= f.submit 'Update' if vip? %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% end %>
