<%= form_for(match) do |f| %>

    <% error_div(match) %>

    <% sets = match.sets_count %>

    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Court <%=match.court%><br/> @<%= match.time_str %></th>
        <th>Teams</th>
        <% sets.times do |idx| %>
            <th><%= "G#{idx + 1}" %></th>
        <% end %>

        <th>M wins</th>
        <th>S wins</th>
        <th>P</th>
      </tr>
      </thead>

      <tbody>

      <% stats = match.stats %>

      <% 2.times { |team_idx| %>
          <tr> <%= team_data(match, stats, team_idx)%></tr>
      <% }%>

      <% vip_area do %>
          <tr>
            <td colspan="<%= 2 + sets + 3%>">
              <%= f.submit 'Update' if vip? %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% end %>
