<%= form_for(match) do |f| %>

    <% error_div(match) %>

    <% sets = match.sets_count %>

    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Court<br/> @ Time</th>
        <th>Teams</th>
        <% sets.times do |idx| %>
            <th><%= "G#{idx + 1}" %></th>
        <% end %>
      </tr>
      </thead>

      <tbody>

      <tr>
        <td> <%= "Court #{match.court}" %> </td>
        <td> <%= standing_field(match.standing1) %> </td>
        <% sets.times do |game_idx| %>
            <td><%= text_field_for_score(match.score, game_idx, 0) %></td>
        <% end %>
      </tr>

      <tr>
        <td> @<%= match.time_str %> </td>
        <td> <%= standing_field(match.standing2) %></td>
        <% sets.times do |game_idx| %>
            <td><%= text_field_for_score(match.score, game_idx, 1) %></td>
        <% end %>
      </tr>

      <% vip_area do %>
          <tr>
            <td colspan="<%= 2 + sets %>">
              <%= f.submit 'Update' if vip? %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% end %>
