<%= form_tag do %>
  <div class="field">
    <%= label_tag :total_teams %><br>
    <%= number_field_tag :total_teams, @tier_setting.total_teams, min: 2 %>
  </div>

  <div class="field">
    <%= label_tag :teams_down %><br>
    <%= number_field_tag :teams_down, @tier_setting.teams_down, min: 0 %>
  </div>

  <div class="field">
    <%= label_tag :schedule_pattern %><br>
    <%= text_field_tag :schedule_pattern, @tier_setting.schedule_pattern %>
  </div>
  <div class = "field">
    <%= label_tag :day %><br>
    <%= select_tag :day, options_for_select([nil] + Date::ABBR_DAYNAMES, @tier_setting.day) %>
  </div>

  <div class="actions">
    <%= submit_tag "Create Tier" %>
  </div>
<% end %>
