<%= form_for [@week, @tier_setting] do |f| %>
  <% if @tier_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tier_setting.errors.count, "error") %> prohibited this tier_setting from being saved:</h2>

      <ul>
      <% @tier_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week_id %><br>
    <%= f.number_field :week_id %>
  </div>
  <div class="field">
    <%= f.label :tier %><br>
    <%= f.number_field :tier %>
  </div>
  <div class="field">
    <%= f.label :total_teams %><br>
    <%= f.number_field :total_teams %>
  </div>
  <div class="field">
    <%= f.label :teams_down %><br>
    <%= f.number_field :teams_down %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :schedule_pattern %><br>
    <%= f.text_area :schedule_pattern %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
