<%= form_for [@week, @tier_setting] do |f| %>
  <% error_div(@tier_setting) %>

  <div class="field">
    <%= f.label :tier %><br>
    <%= f.number_field :tier, min: 1 %>
  </div>
  <div class="field">
    <%= f.label :total_teams %><br>
    <%= f.number_field :total_teams, min: 2 %>
  </div>

  <a onclick="Generate();"> Generate settings</a>

  <div class="field">
    <%= f.label :teams_down %><br>
    <%= f.number_field :teams_down, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.select :day, [nil] + Date::ABBR_DAYNAMES %>
  </div>
  <div class="field">
    <%= f.label :schedule_pattern %><br>
    <%= f.text_area :schedule_pattern %>
  </div>

    <div class="field">
      <%= f.label :cycle %><br>
      <%= f.number_field :cycle, min: 0 %>
    </div>


    <div class="field">
      <%= f.label :sets, 'Set points' %><br>
      <%= f.text_field :sets%>
    </div>

    <div class="field">
      <%= f.label :times, 'Match times' %><br>
      <%= f.text_field :times %>
    </div>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
    function Generate() {
        var total_teams = document.getElementsByName("tier_setting[total_teams]")[0].value;
        var teams_down = "0";
        var schedule_pattern = "";
        if (total_teams == "2"){
            teams_down = "0";
            schedule_pattern = "[[[[1,2,1]],[[2,1,3]],[[1,2,1]]]]"
        } else {
            teams_down = "1";
            //schedule_pattern = ""
        }

        document.getElementsByName("tier_setting[teams_down]")[0].value = teams_down;
        document.getElementsByName("tier_setting[schedule_pattern]")[0].value = schedule_pattern;

    }
</script>

