<tr>
  <td><%= tier_setting.tier %></td>
  <td><%= tier_setting.total_teams %></td>
  <td><%= tier_setting.teams_down %></td>
  <td><%= tier_setting.day %></td>
  <td><%= tier_setting.schedule_pattern %></td>
  <td><%= tier_setting.cycle %></td>
  <td><%= tier_setting.set_points %></td>
  <td><%= tier_setting.match_times %></td>

  <% if admin? %>
      <td><%= link_to 'Show', tier_setting %></td>
      <td><%= link_to 'Edit', edit_tier_setting_path(tier_setting) %></td>
      <td><%= link_to 'Destroy', tier_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>