<h1>Listing tier_settings</h1>

<table>
  <thead>
    <tr>
      <th>League</th>
      <th>Tier</th>
      <th>Total teams</th>
      <th>Teams down</th>
      <th>Schedule pattern</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tier_settings.each do |tier_setting| %>
      <tr>
        <td><%= tier_setting.league_id %></td>
        <td><%= tier_setting.tier %></td>
        <td><%= tier_setting.total_teams %></td>
        <td><%= tier_setting.teams_down %></td>
        <td><%= tier_setting.schedule_pattern %></td>
        <td><%= link_to 'Show', tier_setting %></td>
        <td><%= link_to 'Edit', edit_tier_setting_path(tier_setting) %></td>
        <td><%= link_to 'Destroy', tier_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tier setting', new_league_tier_setting_path(@league)%>
