<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @tier_setting.week_id %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @tier_setting.tier %>
</p>

<p>
  <strong>Total teams:</strong>
  <%= @tier_setting.total_teams %>
</p>

<p>
  <strong>Teams down:</strong>
  <%= @tier_setting.teams_down %>
</p>

<p>
  <strong>Day:</strong>
  <%= @tier_setting.day %>
</p>

<p>
  <strong>Schedule pattern:</strong>
  <%= @tier_setting.schedule_pattern %>
</p>

<%= link_to 'Edit', edit_tier_setting_path(@tier_setting) %> |
<%= link_to 'Back', @tier_setting.week %>
